@import "https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500&display=swap";

$background-color: #141414;

$font-color: white;
$font-family: "Jost", sans-serif;

$breakdown-large: 1280px;

$top-min-width: 225px;
$top-max-height: 275px;
$first-min-width: 250px;
